/*
 * Copyright (c) 2019 STMicroelectronics
 * Copyright (c) 2019 Centaur Analytics, Inc
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <freq.h>
#include <arm/armv7-a.dtsi>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a7";
			device_type = "cpu";
			reg = <0>;
		};
	};

	mcusram: memory0@0 {
		compatible = "mmio-sram";
		reg = <0xC007D000 DT_SIZE_K(256)>;
	};
	retram: memory1@10000000 {
		compatible = "mmio-sram";
		reg = <0xC0000000 DT_SIZE_K(32)>;
	};

	gic: gic@A0021000 {
		compatible = "arm,gic-v2", "arm,gic";
		reg = <0xA0021000 0x1000>,
			  <0xA0022000 0x2000>;  
		interrupt-controller;
		#interrupt-cells = <4>;
		status = "okay";
	};

	soc {
		compatible = "st,stm32mp135", "st,stm32mp1", "simple-bus";

		rcc: rcc@50000000 {
			compatible = "st,stm32mp1-rcc";
			reg = <0x50000000 0x1000>;
			#clock-cells = <2>;

			rctl: reset-controller {
				compatible = "st,stm32-rcc-rctl";
				#reset-cells = <1>;
				set-bit-to-deassert;
			};
		};


	};
};